body {
    text-align: center;
    font-family: 'Arial';
    font-size: 20px;

}

canvas {
    border: 1px solid black;
}

img {
    vertical-align: top;
    width: 300px;
    height: 300px;
}

p {
    display: none;
    color: green;
    font-size: 1.5rem;
}

span {
    border: 5px solid green;
    padding: 10px;
}